<div class="mat-app-background basic-container">
    <div class="example-container mat-elevation-z8">
        <mat-form-field>
            <mat-label>Filter Product</mat-label>
            <input matInput type="text" [(ngModel)]="filterValue" (blur)="filterProduct(filterValue)"
                placeholder="Search product name">
        </mat-form-field>
        <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div> -->
    
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- First Column ID-->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
            </ng-container>
    
            <!-- Second Column -->
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <div class="form-group">
                        <!-- <a (click)="onNavigate(element.Id)" href="javascript:void()">{{element.Name}}</a> -->
                        {{element.Name}}
                    </div>
                </mat-cell>
            </ng-container>
    
            <!-- Third Column -->
            <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
            </ng-container>
            <!-- Fourth Column -->
            <ng-container matColumnDef="Price">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Price }} </mat-cell>
            </ng-container>
            <!-- Fifth Column -->
            <ng-container matColumnDef="Image">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
                <mat-cell *matCellDef="let element"> <img [src]="element.ImagePath" class="thumnail_image"/></mat-cell>
            </ng-container>
            <!-- Action Column -->
            <!-- <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                        color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button> </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                        (click)="delete(element.Id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button> </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
</div>