<!-- Footer -->
<footer class="page-footer font-small mt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> Email: sky.gautamsharma@gmail.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->