<div class="container mat-app-background basic-container">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
  
          <h3 style="text-align:center">
              Add Product
          </h3>
  
          <div class="form-group">
                <!-- Name -->
                <label for="name">Name: <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="text" id="name" placeholder="Name" class="form-control" formControlName="product_name">
                </div>
          </div>
          <div class="form-group">
                <!-- Description -->
                <label for="name">Description: <span class="lblError">*</span></label>
                <div class="controls">
                <textarea type="text" id="description" placeholder="Description" class="form-control" formControlName="product_description"></textarea>
                </div>
        </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <!-- Price -->
                <label for="price">Price: <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="number" id="price" placeholder="Price" class="form-control" formControlName="product_price">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <!-- Upload Image -->
                <label for="image">Image <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="file" accept="image/*" (change)="fileChangeEvent($event)" id="image" placeholder="Image" class="form-control uploadbtn" formControlName="product_image">
                </div>
                <div class="img-space">

                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                    </ng-container>
                    <ng-template #elseTemplate>

                        <img src="./../../assets/placeholder.png" class="img-responsive">
                    </ng-template>

                </div>
                <a class="btn btn-danger btn-sm" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit" style="width: 15%">
              Add Product
            </button>
          </div>
  
    </form>
  </div>