/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.no-wrap {
    white-space: nowrap;
  }
  
  .fixed {
    table-layout: fixed;
  }
  
  .square {
    height: 200px;
    width: 200px;
    background-color: #E0E0E0;
    border: 2px solid;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    font-family: "Open Sans", sans-serif
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: navy;
    font-weight: normal
  }
  
  
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 90px;
  }
  
  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 80px;
  }
  
  .mat-sort-header-container {
    font-size: larger;
    font-weight: bolder;
  }
  
  :host ::ng-deep.mat-paginator .mat-paginator-container {
    justify-content: flex-start !important;
    display: flex !important;
    align-items: center !important;
    min-height: 46px !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
  }
  
  .btn {
    text-transform: none;
  }
  
  .mat-sort-header-button {
    font-size: larger !important;
    font-weight: bold !important;
  
  } */