<!-- <div class="mat-app-background basic-container">
  <app-products>loading</app-products>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <p>
    <button mat-button (click)="openDialog()">Open Confirm Dialog</button>
  </p>
  <p>
    <button mat-button (click)="openAlertDialog()">Open Alert Dialog</button>
  </p>
  <span class="version-info">Current build: {{version.full}}</span>
</div> -->